<html>
  <head>
    <title>Ansible Nginx Config</title>
  </head>
  <body>
    <h1>nginx, configured by Ansible</h1>
    <p>If you can see this, the nginx webserver is running.</p>
    <p>{{ ansible_managed }}</p>
  </body>
</html>
