# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

# User specific environment
PATH="$HOME/.local/bin:$HOME/bin:$PATH"
export PATH

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions
alias dev='cd ~/Development'
alias dls='cd ~/Downloads'
alias opt='cd ~/opt'
alias docs='cd ~/Documents'
{% if laptop %}
alias dev2='cd /media/data-hdd/Development'
alias data='cd /media/data-hdd'
alias load-conda-bashrc='source ~/.conda-bashrc'
{% endif %}

#custom ls aliases
#full details on everything
alias l='ls -aFlh --color=auto'
#full details for hidden things only
alias l.='ls -adFlhi .* --color=auto'
#full details with inode
alias li='ls -aFlhi --color=auto'

#change directory colour from dark blue to light blue
LS_COLORS=$LS_COLORS:'di=0;94:' ; export LS_COLORS

#coloured man pages
man() {
    env \
    LESS_TERMCAP_mb=$'\e[01;31m' \
    LESS_TERMCAP_md=$'\e[01;31m' \
    LESS_TERMCAP_me=$'\e[0m' \
    LESS_TERMCAP_se=$'\e[0m' \
    LESS_TERMCAP_so=$'\e[01;44;33m' \
    LESS_TERMCAP_ue=$'\e[0m' \
    LESS_TERMCAP_us=$'\e[01;32m' \
    man "$@"
}
export GROFF_NO_SGR=1 #needed to get colours working

#custom bash prompt
# http://www.tldp.org/HOWTO/Bash-Prompt-HOWTO/bash-prompt-escape-sequences.html
export PS1="\[\033[38;5;10m\]\u\[$(tput sgr0)\]\[\033[38;5;15m\]@\[$(tput sgr0)\]\[\033[38;5;250m\]\H\[$(tput sgr0)\]\[\033[38;5;15m\] \[$(tput sgr0)\]\[\033[38;5;11m\]\W\[$(tput sgr0)\]\[\033[38;5;15m\] \\$ \[$(tput sgr0)\]"

#shell history ignores if the same command was entered - https://unix.stackexchange.com/a/18443
HISTCONTROL=ignoredups:erasedups
shopt -s histappend
PROMPT_COMMAND="history -n; history -w; history -c; history -r; $PROMPT_COMMAND"

#increase history size
export HISTSIZE=9999

#allow vim commands in bash
set -o vi

# bash tracing with line numbers - use #!/bin/bash -x
export PS4='$LINENO + '

# https://github.com/atom/atom/issues/17452
export ELECTRON_TRASH=gio

# https://cwiki.apache.org/confluence/display/AMBARI/Ambari+Development
export JAVA_HOME="/usr/lib/jvm/java-1.8.0-openjdk"
#export _JAVA_OPTIONS="-Xmx2048m -XX:MaxPermSize=512m -Djava.awt.headless=true"

{% if laptop %}
#export ANSIBLE_ROLES_PATH="/home/blindcant/Development/ansible/galaxy-roles"
export ANSIBLE_ROLES_PATH="/home/blindcant/Development/paas/galaxy-roles"
{% elif desktop %}
export ANSIBLE_ROLES_PATH="/home/blindcant/Development/ansible/galaxy-roles"
{% endif %}

{% if laptop %}
# https://www.vagrantup.com/docs/other/environmental-variables.html#vagrant_home
export VAGRANT_HOME="/media/data-hdd/Development/vagrant"
export VAGRANT_DOTFILE_PATH="/media/data-hdd/Development"
{% elif desktop %}
export VAGRANT_HOME="/media/veracrypt2/Development/vagrant"
export VAGRANT_DOTFILE_PATH="/media/veracrypt2/Development"
{% endif %}
