# Running commands on GUI login - https://unix.stackexchange.com/questions/122424/execute-a-command-on-user-logon & https://wiki.archlinux.org/index.php/Xprofile
# Save and reload alsamixer settings - https://askubuntu.com/a/465641
alsactl --file ~/.config/asound.state restore

# Reload nvidia settings, see 'man nvidia-settings'
# https://download.nvidia.com/XFree86/Linux-x86_64/1.0-6106/nvidia-settings-user-guide.txt
# https://wiki.archlinux.org/index.php/NVIDIA#NVIDIA_Settings
#nvidia-settings --load-config-only

# https://gist.github.com/smac89/ce0fc97a02788478dd06cbe738f0fdae
# xsecurelock options
#export XSECURELOCK_SAVER=saver_xscreensaver
#export XSECURELOCK_SAVER=saver_blank
#export XSECURELOCK_PASSWORD_PROMPT=disco XSECURELOCK_FONT='Noto Serif CJK JP'
#export XSECURELOCK_SHOW_DATETIME=1
#export XSECURELOCK_SINGLE_AUTH_WINDOW=1
#export XSECURELOCK_AUTH_TIMEOUT=30

# https://wiki.archlinux.org/title/Mouse_acceleration#Using_xset
xset m 0 0

# Turn off xfce beep
xset b off

# Enforce 165 hz with xrandr - https://bbs.archlinux.org/viewtopic.php?id=226289
xrandr --output DisplayPort-2 --mode 2560x1440 --rate 164.96
